.highlight,
.right {
  color: blueviolet;
}

.highlight:hover,
.right:hover {
  /*color: rgb(132, 83, 255);*/
  color: rgb(250, 125, 225);
  cursor: pointer;
}

.nodisplay {
  display: none;
}

.left {
  text-align: left;
}

.clearboth {
  clear: both;
}
.right {
  float: right;
}
.fleft {
  float: left;
}
.siximgOG {
  width: 45%;
  height: 700px;
  position: absolute;
  padding-left: 20%;
  border-radius: 20px;
}

.siximgcontainer {
  /*width: 45%;*/
  width: 550px;
  float: left;
  height: 550px;
}

.siximg {
  width: auto;
  height: 500px;
  border-radius: 10px;
  object-fit: contain;
  overflow: hidden;
  display: inline-block;
}

.sevenimgcontainer {
  width: 300px;
  float: left;
  height: 300px;
  text-align: center;
  position: relative;
}

.sevenimg {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  object-fit: contain;
  overflow: hidden;
}

.previewimg {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.imgleft {
  align-items: center;
  padding-left: 5%;
}

.imgleft img {
  max-width: 100%;
  max-height: 100%;
}

.sixtext {
  display: inline-block;
  text-align: left;
  padding-right: 20%;
}

.sevenfont {
  color: rgb(85, 85, 85);
}

.breakfont {
  word-wrap: normal;
}

.center {
  margin: auto;
}
